<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rockets</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <h1>ROCKETS</h1>
    <!--Buttons-->
    <div class="rocketsDiv">
        <div class="rocketBox">
            <H4>ROCKET1</H4>
            <img src="../img/rocket-icon.png" alt="Rocket 1">
            <input type="submit" value="CREATE" class="rocket-btn" onclick="createRocket1()">
            <input type="submit" value="ACCELERATE" class="rocket-btn" onclick="accelerateRocket1()">
            <input type="submit" value="BREAK" class="rocket-btn" onclick="breakRocket1()">
            <input type="submit" value="PRINT" class="rocket-btn" onclick="printRocket1()">
        </div>

        <div class="rocketBox">
            <H4>ROCKET2</H4>
            <img src="../img/rocket-icon.png" alt="Rocket 1">
            <input type="submit" value="CREATE" class="rocket-btn" onclick="createRocket2()">
            <input type="submit" value="ACCELERATE" class="rocket-btn" onclick="accelerateRocket2()">
            <input type="submit" value="BREAK" class="rocket-btn" onclick="breakRocket2()">
            <input type="submit" value="PRINT" class="rocket-btn" onclick="printRocket2()">
        </div>
    </div>
    <input type="submit" value="PRINT BOTH" class="rocket-btn" id="both-btn" onclick="printAllRockets()">
    <div id="resultBox">
        <h3 id="displayRockets"></h3>
    </div>

    <!--JS Scripts-->
    <script src="../controllers/controller.js"></script>
    <script src="../models/rocket.js"></script>
    <script src="../models/thruster.js"></script>
</body>

</html>