<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rockets</title>
</head>
<body>
    <!--Buttons-->
    <p>
    <input type="submit" value="Create Rocket 1" id="createRocket1Id" onclick="createRocket1()">
    <input type="submit" value="Create Rocket 2" id="createRocket2Id" onclick="createRocket2()">
    </p>
    <p>
    <input type="submit" value="Accelerate Rocket 1" id="accelerateRocket1Id">
    <input type="submit" value="Accelerate Rocket 2" id="accelerateRocket2Id">
    <input type="submit" value="Break Rocket 1" id="breakRocket1Id">
    <input type="submit" value="Break Rocket 2" id="breakRocket2Id">
    </p>
    <p>
    <input type="submit" value="Print Rocket 1" id="printRocket1Id">
    <input type="submit" value="Print Rocket 2" id="printRocket2Id">
    <input type="submit" value="Print ALL Rockets" id="printAllRocketsId">
    </p>

    <!--JS Scripts-->
    <script src="../controllers/controller.ts"></script>
    <script src="../models/rocket.ts"></script>
    <script src="../models/thruster.ts"></script>
</body>
</html>